body {
	font-family: \\5FAE\8F6F\96C5\9ED1
}

.el-card__body {
	padding: 0
}

.login_wrap {
	height: 360px;
	width: 300px;
	margin: 80px auto;
	padding: 60px 25px 25px
}

.login_wrap p {
	text-align: center
}

.login_wrap .form {
	color: #409eff;
	font-weight: bolder;
	margin-bottom: 30px
}

.login_wrap input {
	height: 50px;
	background: #ecf8ff;
	font-size: 16px
}

.login_wrap .el-button {
	font-weight: bolder;
	width: 100%
}

.sign_wrap {
	height: 360px;
	width: 300px;
	margin: 80px auto;
	padding: 60px 25px 25px
}

.sign_wrap p {
	text-align: center
}

.sign_wrap .form {
	font-weight: 700;
	margin-bottom: 20px
}

.sign_wrap input {
	border-radius: 5px;
	border: 1px solid #dcdfe6;
	height: 30px;
	width: 100%;
	font-size: 18px
}

.sign_wrap .el-button {
	font-weight: bolder;
	width: 100%
}

.el-divider--horizontal {
	margin: 0
}

.home .sp {
	color: #1890ff
}

body {
	font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #303133
}

body a {
	color: #1890ff;
	text-decoration: none;
	font-size: 14px
}

.body-contain {
	position: relative;
	width: 1000px;
	margin: 70px auto 0
}

.body-contain .main {
	position: relative;
	margin-right: 350px;
	height: 1000px;
}

.body-contain .main .comments {
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.body-contain .main .comments .title {
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #dcdfe6;
	padding-left: 20px
}

.body-contain .main .comments .items {
	padding: 30px
}

.body-contain .main .showlists {
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	margin-bottom: 40px
}

.body-contain .main .showlists .item {
	height: 220px;
	padding: 20px 20px 0
}

.body-contain .main .showlists .item .dd {
	width: 19%;
	padding-top: 7px;
	margin-right: 6px;
	box-sizing: border-box;
	float: left;
	height: 100%
}

.body-contain .main .showlists .item .dd .photo {
	height: 150px;
	width: 100%
}

.body-contain .main .showlists .title {
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #dcdfe6;
	padding-left: 20px
}

.body-contain .main .showlists .items .el-carousel__indicator.el-carousel__indicator--horizontal.is-active button {
	opacity: 1
}

.body-contain .main .showlists .items .el-carousel__button {
	background-color: #c0c4cc;
	opacity: .24
}

.body-contain .aside {
	font-size: 14px;
	width: 300px;
	position: absolute;
	right: 0;
	top: 0
}

.body-contain .aside .contents {
	margin-bottom: 20px
}

.body-contain .aside .contents .lists {
	padding: 10px 4px
}

.body-contain .aside .contents .lists li {
	padding: 3px;
	border-bottom: 1px dashed #dcdfe6
}

.body-contain .aside .contents .lists li .num {
	float: right
}

.body-contain .aside .el-card__body {
	padding: 0 20px
}

.body-contain .aside .title {
	height: 70px;
	line-height: 70px
}

.body-contain .aside .title span {
	position: relative;
	right: -80px;
	bottom: -20px
}

.body-contain .aside .text {
	height: 70px;
	line-height: 70px
}

.head-contain {
	background: #fff;
	width: 100%;
	height: 52px;
	position: fixed;
	z-index: 4
}

.head-contain .el-card__body {
	padding: 0
}

.head-contain .header {
	position: relative;
	width: 1000px;
	margin: 0 auto
}

.head-contain .header .header_info {
	margin: 0 20px;
	line-height: 52px
}

.head-contain .header .search {
	display: inline-block;
	position: absolute;
	left: 30%;
	height: 52px;
	line-height: 52px
}

.head-contain .header .search input {
	padding-left: 20px;
	border: 1px solid #dcdfe6;
	height: 28px;
	width: 300px;
	border-radius: 5px 0 0 5px
}

.head-contain .header .search button {
	border-radius: 0 5px 5px 0
}

.head-contain .header .person_info {
	position: absolute;
	right: 0;
	top: 52px;
	height: 100px;
	width: 100px;
	background: #fff
}

.head-contain .header .person_info .keke {
	height: 30px;
	line-height: 30px;
	padding: 10px 20px;
	cursor: pointer
}

.head-contain .header .people {
	float: right;
	height: 52px;
	width: 52px;
	border-radius: 50%;
	overflow: hidden
}

.head-contain .header .people img {
	height: 100%;
	width: 100%
}
.lists .list_title{
	height: 40px;
	line-height: 40px;
							
}
.lists .left{
	height: 40px;
	line-height: 40px;
	float: left;
							
}
.lists img.img-title{
	margin-right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	vertical-align: middle;
}
.list_title .left a{
	margin-right: 10px;						
}
.list_title .right{
	height: 40px;
	line-height: 40px;
	float: right;
							
}
.lists_commo{
	height: 150px;		
}
.lists_commo .left{
	height: 100%;
	float: left;
	line-height: 100%;
							
}
.lists_commo .left a{
	display: inline-block;
	height: 100%						
}
.lists_commo .left a img{
	height: 100%;
	vertical-align: top;
	}
.lists_commo .block{
	float: right;
							
}


/*# sourceMappingURL=app.b3808ada60124c28b9f256b7d44dfc98.css.map */