<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="all">
		<meta name="Copyright" content="TENCNET">
		<meta name="author" content="Tencent-TGideas">
		<meta name="keywords" content="英雄联盟活动中心,lol活动中心,lol攻略,lol视频,lol视频攻略,lol英雄资料,lol战争学院,小仓解说视频,101战争学院,英雄">
		<meta name="description" content="英雄联盟101战争学院，推荐攻略，视频攻略，小仓解说视频">
		<title>活动中心-英雄联盟官方网站-腾讯游戏</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/site.css"/>
		<link rel="stylesheet" type="text/css" href="css/new_file.css"/>
	</head>
	<body>
		<div class="wraper">
			<div id="header" class="header header-close">
				<div class="top">
					<div class="top-inner layout">
						<div id="J_nav" class="main-nav-wrap" @mouseover="show" @mouseout="fli">
							<ul class="main-nav">
								<li v-for="first in main">
									<a href="javascript:void(0)">{{first.name}} <span>{{first.value}}</span></a>
								</li>
							</ul>
						<div id="J_subNav" ref="sub" class="sub-nav">
							<ul class="sub-nav-inner">
								<li class="sub-nav-item" v-for="(list) in inner">
									<a v-for ="sec in list"class="sub-nav-lnk" href="javascript:void(0)"><i v-if="sec.i==1" class="icon-hot"></i>{{sec.name}}</a>
								</li>
							</ul>
						</div>
						</div>
						<span id="J_searchClick" class="top-search" @click="oshow">
							<i class="icon-top-search"></i>
						</span>
						<div id="J_search" class="top-search-main" style="display: none" ref="J_search">
							<div class="top-search-inner" id="top-inp">
								<i class="icon-search-inner" id="top-op"></i>
								<input type="text" id="J_searchText" class="input-search-box" placeholder="搜索 lol.qq.com"/>
								<span id="top-clo" class="top-search-close" @click="dis" title="关闭搜索系统">
									
								</span>
							</div>
						</div>
						<a class="top-app" href="javascript:void(0)" title="前往掌上英雄联盟官网">
							<i class="icon-top-app"></i>
						</a>
						<div id="J_topUser" class="top-user" @mouseover="show2" @mouseout="fli2">
							<div class="top-user-info">
								<div class="top-user-side">
									<span class="user-mask"></span>
									<img id="jUserIcon" src="img/default.png">
								</div>
								<div class="top-user-main">
									<div class="top-user-unlogin">
										亲爱的召唤师，欢迎 <em>登录</em>
									</div>
									<div class="top-user-tips">
										登录后查看自己的战绩、资产、声望值等
									</div>
								</div>
							</div>
							<div class="top-user-drop" id="J_userDrop" ref="userDrop">
								<div id="J_dropTips" class="top-user-drop-tips">登录并且绑定大区后才可查看您的具体信息哦~（包括战绩、资产、声望值等）</div>
								<div class="top-user-data-tips">官网个人信息显示略有延迟，请以游戏内数据为准</div>
								<a class="top-link-personal" href="javascript:void(0)" target="_blank">进入个人中心</a>
							</div>
						</div>
					</div>
				</div>
				<div class="header-inner layout">
					<div class="logo"><a href="javascript:void(0)">英雄联盟</a></div>
					<div class="top-act">
						<a class="top-act-link" href="javascript:void(0)" target="_blank">查看详情</a>
					</div>
					<div id="J_version" class="top-version">当前游戏版本：<em>Ver 9.5</em> <a class="top-version-link" href="javascript:void(0)" target="_blank">版本详情</a></div>
				</div>
			</div>
			<div class="layout mainer">
				
			</div>
		</div>
		<!--nav-->
		<!--footer-->
		<div id="gfooter" ams="152/35206/m131" age="18" dark="1" ieg-logo="1">
			<div class="foot foot_dark ">
				<div class="foot_cpright clearfix">
					<div class="foot_lefts">
						<a target="_blank" href="javascript:void(0)" title="腾讯互动娱乐" class="foot_ieg_logo">腾讯互动娱乐</a>
						<a target="_blank" href="javascript:void(0)" title="RIOT" class="foot_left logo-riot">riot</a>
					</div>
					<ul class="foot_links">
						<li  class="link_map">
							<template v-for="ino in linka">
								<a target="_blank" href="javascript:void(0)">{{ino.name}}</a>
							<span v-if="ino.sp==1" class="f_line">|</span>
							</template>
						</li>
						<li class="copyright_zh">
							<a target="_blank" href="javascript:void(0)">腾讯公司版权所有</a>
						</li>
						<li class="copyright_en">
							<p class="copyright_txt">COPYRIGHT © 1998 - 2019 TENCENT. ALL RIGHTS RESERVED.</p>
							<p class="copyright_txt">COPYRIGHT © 2012 Riot Games,Inc. ALL RIGHTS RESERVED.</p>
						</li>
						<li class="limit_age">本网络游戏适合18+岁的用户使用；为了您的健康，请合理控制游戏时间。
						</li>
						<li class="copyright_public">
							<a target="_blank" href="javascript:void(0)">粤网文[2017]6138-1456号</a>
							<span class="f_line">|</span>
							<a target="_blank" href="javascript:void(0)">（总）网出证（粤）字第057号</a>
						</li>
						<li class="copyright_private">批准文号：新出审字[2011]310号 
							<span class="f_line">|</span>文网进字[2011] 004号
							<span class="f_line">|</span> 出版物号：ISBN 978-7-89989-145-2
							<span class="f_line">|</span>全国文化市场统一举报电话：12318 
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/new_file.js"></script>
	</body>
</html>
