a{
	text-decoration:none;
}
ul li{
	list-style: none;
}
.clearfix:after, .hd:after, .layout:after{
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
i,em,cite{
	font-style: normal;
}
input, select{
	font-family:"microsoft yahei";
}
