body{
	text-align: center;
}
.tonglan{
	height: 32px;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
	margin: 0;
	border-bottom: 1px solid #ebebeb;
}
.ul1 img{
	width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.tonglan div a{
	font: 12px arial;
}
.none{
	text-decoration:none;
}
.lan{
	color: #38f;
}
.tonglan div{
	width: 50%;
	height: 32px;
}
.tonglan .ul1{
	float: left;
	overflow: hidden;
}
.tonglan .ul1 a{
	float: left;
	margin-left: 12px;
	line-height: 32px;
}
.tonglan .ul2{
	float: right;
	overflow: hidden;
}
.tonglan .ul2 a{
	font: 13px arial;
	font-weight: bold;
	float: right;
	margin-left: 19px;
	line-height: 32px;
}
.zhuti{
	width: 641px;
	height: 290px;
	margin: 0 auto;
	margin-top: 50px;
}
.zhuti form input{
	float: left;
	width: 481px;
	height: 24px;
	padding: 9px 48px 9px 7px;
}
.zhuti form input[value=百度一下]{
	float: left;
	width: 99px;
	height: 45.9px;
	cursor: pointer;
    line-height: 42px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
	
}
.zhuti form input[value=百度一下]:hover{
    background-color: #317ef3;
}
.zhuti form a{
	height: 16px;
    width: 18px;
    overflow: hidden;
    position:relative;
    top:16px;
    left:510px;
}
.dibu, .dibu a{
	margin-top: 240px;
	color: #999;
	font-size: 12px;
    margin-bottom: 8px;
}
.xiao{
	display: block;
    position:absolute;
	clip:rect(0px 18px 16px 0px);
    background: #fff;
}
