.clearfix:after{
	content: "";
	display:  block;
	height: 0;
	overflow:hidden;
	clear: both;
}
.clearfix{
	zoom: 1;
}
body{
	background: black;
	font-family: "微软雅黑";
}
.wrap{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;	
margin: auto;
	width: 960px;
	height: 600px;
	background:url('img/bg.png') no-repeat;
	background-size: 960px 600px;
}
.right{
	float: left;
	width: 480px;
	height: 600px;
	background: url('img/bg.png');
	background-size:cover;
	font-size: 14px;
	color: darkorange;
	position: relative;
}
li{
	float: left;
	overflow: hidden;
}
li.hi img{
	display: block;
	height: 240px;
	width: 120px;
}
li.hw img{
	display: block;
	height: 240px;
	width: 240px;
}
li.xiao img{
	display: block;
	height: 120px;
	width: 120px;
}
li.wi img{
	display: block;
	height: 120px;
	width: 240px;
}
ul{
	float: left;
	position: relative;
	width: 480px;
	height:600px;
	background: url('img/ck.png') no-repeat;
	background-position: 120px 480px;
	background-size: 240px 120px;
}
.a,.b{
	height: 120px;
	width: 120px;
	display: block;
	position: absolute;
}
.a{
	left: 120px;
	top: 360px;
}
.b{
	left: 240px;
	top: 360px;
}
.title{
	height: 90px;
	background: url('img/title.png');
	background-size:480px 90px ;
}
.JJ{
	width: 384px;
	margin: 0 auto;
	text-indent: 28px;
}
.shici{
	width: 255px;
	margin: 0 auto;
}
p{
line-height:20px;text-align: center;
}
a{
	display: block;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 540px;
	left: 200px;
	text-decoration: none;
}
#kaishi{
	border: 0;
	border-radius: 5px;
	padding: 8px;
	cursor: auto;
	font-family:"微软雅黑" ;
}
a:hover #kaishi{
	background: darkgray;
}
.number{
	position: absolute;
	left: 30px;
	bottom: 30px;
}
span{
	padding-left:5px;
	padding-right:5px;
}
.sele{
	width: 300px;
	margin:0 auto;
	margin-top:45px;
	
}
.sele select{
	border-radius:3px;
	font-family: "微软雅黑";
	border:0;
	width: 145px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	line-height: 30px;
	height: 30px;
}
select::-ms-expand{
	display: none;
	}
